/***    General     ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif
}

body {
    margin: 0 auto;
    /*background-image: url("image.jpg");*/
    background-color: azure;
    background-repeat: "no-repeat";
    background-size: "container";
}



.primary-button {
    margin-top: 5rem;
    margin-right: 1rem;
    padding: .6rem;
    width: 10rem;
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize
}

/***    Landing Page     ***/
.main-title,
.main-para {
    color: gray
}

.main-title {
    padding-top: 10rem;
    font-size: 5rem;
   
    text-transform: uppercase
}

.main-para {
    font-size: 2.5rem;
    text-Transform: capitalize
}

#reg_btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#reg_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#reg_btn:hover span {
  padding-right: 25px;
}

#reg_btn:hover span:after {
  opacity: 1;
  right: 0;
}

/***    Login Page     ***/
h2 {
    font-weight: 300
}

form {
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0
}

form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0
}

.right-label {
    float: right;
    cursor: pointer
}

input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none
}

#sub_btn {
    display: block;
    width: 100%;
    padding: .3rem;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
}
#hyper{
    color:#222
}

#sub_btn:hover {
    background: #333;
    transition: all .5s
}

footer p {
    margin: 0;
    font-size: .9rem
}

/***    Register Page     ***/
#checkbox {
    width: 1rem
}

form span {
    font-size: .8rem
}

#reset_pass_lbl {
    float: left
}

/***    Home Page     ***/
.home-page-title {
    color: #222
}

* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: arial;
  }
  .main {
    margin: 2%;
  }
  
  .card {
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px;
    margin: 2%;
  }
  
  .image img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .title {
    text-align: center;
    padding: 10px;
  }
  
  h1 {
    font-size: 20px;
  }
  
  .des {
    padding: 3px;
    text-align: center;
  
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  button {
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
  }
  button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
  }
  .container {
    padding-top: 30px;
    width: 300px;
    margin: auto;
  }
  
  .input {
    padding: 5px 15px;
    width: 600px;
    
  }
  
  .user-list {
    margin-top: 30px;
  }
  
  .user {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background: #eee;
    display: flex;
    justify-content: space-between;
  }
  
  .user-id {
    color: black ;
    margin-right: 20px;
  }
  
  .user-name {
    color: black;
    padding-right: 5px;
  }
  
  .user-age {
    margin-left: auto;
  }

  /****MODAL***/

  .App {
    width: 90%;
    padding: 50px;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .modal {
    position: fixed;
    z-index: 20;
    background: #fff;
    width: 500px;
  
    /* Center the modal */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .modal__header {
    background: orangered;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .modal__main {
    padding: 20px;
  }
  
  .close-button {
    border: none;
    background: transparent;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 36px;
  }
  
  .close-button:hover {
    color: yellow;
  }
  
  .button {
    background: green;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
  
  }
  
  .button:hover {
    background: orange;
  }